.large {
    padding: 50px
}
.cardwidth {
    width: 20rem;
}
.margintopbottom {
    margin-top: 20px;
    margin-bottom: 20px;
}
.margintopbottom10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margintopbottom5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.cardmin {
    min-width: 300px;
}

.large-text {
    font-size: x-large;
}

.checkbox-bigger {
    zoom: 1.2;
}

.heartdarkbutton,
.heartredbutton {
    cursor: pointer;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    float: right;
}
.heartredbutton
{
    background-image:  url('/static/heart-red.png');
}

.heartdarkbutton
{
    background-image:  url('/static/heart-dark.png');
}

.cardmin>img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: 0 auto;
}